In [1]:
#Pandas 1
import pandas as pd

In [2]:
import numpy as np

In [3]:
g7_pop = pd.Series([49, 43, 65, 40, 160])

In [4]:
g7_pop

0     49
1     43
2     65
3     40
4    160
dtype: int64

In [5]:
g7_pop.name = "Pokemon Savunma Güçleri"

In [6]:
g7_pop

0     49
1     43
2     65
3     40
4    160
Name: Pokemon Savunma Güçleri, dtype: int64

In [7]:
g7_pop.index

RangeIndex(start=0, stop=5, step=1)

In [9]:
g7_pop.index = ["Bulbasaur", "Charmander", "Squirtle", "Pikachu", "Onix"]

In [10]:
g7_pop

Bulbasaur      49
Charmander     43
Squirtle       65
Pikachu        40
Onix          160
Name: Pokemon Savunma Güçleri, dtype: int64

In [11]:
g7_pop["Pikachu"] # Ad ile ulaşma

40

In [12]:
g7_pop[0] # indexleme ile ulaşma

49

In [13]:
g7_pop.iloc[0] #indexleme ile ulaşma

49

In [14]:
g7_pop[["Charmander","Onix"]] #  Birden fazla olabilir

Charmander     43
Onix          160
Name: Pokemon Savunma Güçleri, dtype: int64

In [15]:
g7_pop[[1,4]] #  Birden fazla olabilir

Charmander     43
Onix          160
Name: Pokemon Savunma Güçleri, dtype: int64

In [17]:
g7_pop["Charmander":"Pikachu"] # Başlangıç ve bitiş noktaları verilerekte bu işlem gerçekleştirilebilmektedir.

Charmander    43
Squirtle      65
Pikachu       40
Name: Pokemon Savunma Güçleri, dtype: int64

In [18]:
g7_pop > 45 # Koşul belirtilebilmektedir

Bulbasaur      True
Charmander    False
Squirtle       True
Pikachu       False
Onix           True
Name: Pokemon Savunma Güçleri, dtype: bool

In [19]:
g7_pop[g7_pop > 45] # Değerleri göstererekte yapılabilmektedir

Bulbasaur     49
Squirtle      65
Onix         160
Name: Pokemon Savunma Güçleri, dtype: int64

In [20]:
g7_pop.mean() # standart sapmasıda alınabilemktedir

71.4

In [21]:
g7_pop[g7_pop > g7_pop.mean() ] # Standart sapmasından büyük olan değerlere ulaşılması sağlanmaktadır

Onix    160
Name: Pokemon Savunma Güçleri, dtype: int64

In [22]:
g7_pop[(g7_pop > 45) & (g7_pop < 100)] # Birden fazla koşulda verilebilinmektedir.

Bulbasaur    49
Squirtle     65
Name: Pokemon Savunma Güçleri, dtype: int64

In [23]:
g7_pop["Pikachu"] = 70 # değeri değiştirebilinmektedir

In [24]:
g7_pop["Pikachu"]

70

In [25]:
g7_pop[g7_pop > 50] = 50 # değeri 50 den büyük olanları 50 yap

In [26]:
g7_pop

Bulbasaur     49
Charmander    43
Squirtle      50
Pikachu       50
Onix          50
Name: Pokemon Savunma Güçleri, dtype: int64

In [27]:
sg7_pop = pd.Series({
    'Bulbasaur': 49, 
    'Charmander': 43, 
    'Squirtle': 65, 
    'Pikachu': 40, 
    'Onix': 160
    }, name="Pokemon Savunma Güçleri")

In [28]:
#Pandas 2

In [87]:
pokemon = pd.DataFrame({ # Dataframe dir verileri tablo şeklinde tutulamasını sağlamaktadır.
    'atak': [49, 52, 48, 55, 45],
    'savunma': [49, 43, 65, 40, 160],
     'hız': [45, 65, 43, 90, 70],
     'tür': ['ot', 'ateş', 'su', 'elektrik', 'kaya']
    }, index=["Bulbasaur", "Charmander", "Squirtle", "Pikachu", "Onix"])

In [30]:
pokemon

            atak  savunma  hız       tür
Bulbasaur     49       49   45        ot
Charmander    52       43   65      ateş
Squirtle      48       65   43        su
Pikachu       55       40   90  elektrik
Onix          45      160   70      kaya

In [31]:
pokemon.columns # Sütünlara ulaşmak için kullanılmaktadır.

Index(['atak', 'savunma', 'hız', 'tür'], dtype='object')

In [32]:
pokemon.info() # Tablo hakkında bilgiye ulaşılmasını sağlamaktadır.

<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, Bulbasaur to Onix
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   atak     5 non-null      int64
 1   savunma  5 non-null      int64
 2   hız      5 non-null      int64
 3   tür      5 non-null      object
dtypes: int64(3), object(1)
memory usage: 160.0+ bytes

In [33]:
pokemon.size # Toplam değer sayısı

20

In [34]:
pokemon.shape # satır sütün sayısı

(5, 4)

In [36]:
pokemon.describe() # ortlama std sapma gib değerleri yazdırmaya yaramaktadır.

            atak     savunma        hız
count   5.000000    5.000000   5.000000
mean   49.800000   71.400000  62.600000
std     3.834058   50.460876  19.398454
min    45.000000   40.000000  43.000000
25%    48.000000   43.000000  45.000000
50%    49.000000   49.000000  65.000000
75%    52.000000   65.000000  70.000000
max    55.000000  160.000000  90.000000

In [37]:
pokemon["hız"]

Bulbasaur     45
Charmander    65
Squirtle      43
Pikachu       90
Onix          70
Name: hız, dtype: int64

In [39]:
pokemon.iloc[1] # indexleme ile tüm değerleri alabilemekteyiz

atak         52
savunma      43
hız          65
tür        ateş
Name: Charmander, dtype: object

In [40]:
pokemon.loc["Onix"]

atak         45
savunma     160
hız          70
tür        kaya
Name: Onix, dtype: object

In [42]:
pokemon.loc[["Onix","Bulbasaur"]]

           atak  savunma  hız   tür
Onix         45      160   70  kaya
Bulbasaur    49       49   45    ot

In [43]:
pokemon.loc["Charmander":"Onix"]

            atak  savunma  hız       tür
Charmander    52       43   65      ateş
Squirtle      48       65   43        su
Pikachu       55       40   90  elektrik
Onix          45      160   70      kaya

In [44]:
# Pandas 3

In [45]:
pokemon

            atak  savunma  hız       tür
Bulbasaur     49       49   45        ot
Charmander    52       43   65      ateş
Squirtle      48       65   43        su
Pikachu       55       40   90  elektrik
Onix          45      160   70      kaya

In [46]:
pokemon["hız"] > 60 # Hızı 60 dan büyük olanalanların getirilmesini sağlamaktadır

Bulbasaur     False
Charmander     True
Squirtle      False
Pikachu        True
Onix           True
Name: hız, dtype: bool

In [52]:
pokemon.loc[pokemon["hız"]>60]

            atak  savunma  hız       tür
Charmander    52       43   65      ateş
Pikachu       55       40   90  elektrik
Onix          45      160   70      kaya

In [58]:
 pokemon.loc[pokemon["hız"]>60,"hız"]

Charmander    65
Pikachu       90
Onix          70
Name: hız, dtype: int64

In [61]:
pokemon.drop("Bulbasaur")

            atak  savunma  hız       tür
Charmander    52       43   65      ateş
Squirtle      48       65   43        su
Pikachu       55       40   90  elektrik
Onix          45      160   70      kaya

In [62]:
pokemon

            atak  savunma  hız       tür
Bulbasaur     49       49   45        ot
Charmander    52       43   65      ateş
Squirtle      48       65   43        su
Pikachu       55       40   90  elektrik
Onix          45      160   70      kaya

In [64]:
pokemon.drop(["hız","tür"],axis = 1) # Axis 1 diyerek sütünda silinebilinmektedir

            atak  savunma
Bulbasaur     49       49
Charmander    52       43
Squirtle      48       65
Pikachu       55       40
Onix          45      160

In [67]:
pokemon[["atak","savunma"]] / 10

            atak  savunma
Bulbasaur    4.9      4.9
Charmander   5.2      4.3
Squirtle     4.8      6.5
Pikachu      5.5      4.0
Onix         4.5     16.0

In [69]:
pokemon[["atak","savunma"]] +[10,5]

            atak  savunma
Bulbasaur     59       54
Charmander    62       48
Squirtle      58       70
Pikachu       65       45
Onix          55      165

In [89]:
boylar = pd.Series(
    [0.7, 0.6, 0.5, 0.4, 8.8],index = pokemon.index)

In [75]:
boylar

Bulbasaur     0.7
Charmander    0.6
Squirtle      0.5
Pikachu       0.4
Onix          8.8
dtype: float64

In [90]:
pokemon["boy"] = boylar

In [77]:
pokemon

            atak  savunma  hız       tür  boy
Bulbasaur     49       49   45        ot  0.7
Charmander    52       43   65      ateş  0.6
Squirtle      48       65   43        su  0.5
Pikachu       55       40   90  elektrik  0.4
Onix          45      160   70      kaya  8.8

In [78]:
pokemon[pokemon["boy"] < 1] = 1

In [79]:
pokemon

            atak  savunma  hız   tür  boy
Bulbasaur      1        1    1     1  1.0
Charmander     1        1    1     1  1.0
Squirtle       1        1    1     1  1.0
Pikachu        1        1    1     1  1.0
Onix          45      160   70  kaya  8.8

In [80]:
pokemon.rename(
    columns={
        "atak": "attack",
        "savunma": "defense",
        "tür": "type",
        "hız": "speed",
        "boy": "height"
    }
)

            attack  defense  speed  type  height
Bulbasaur        1        1      1     1     1.0
Charmander       1        1      1     1     1.0
Squirtle         1        1      1     1     1.0
Pikachu          1        1      1     1     1.0
Onix            45      160     70  kaya     8.8

In [81]:
# Pandas 3

In [88]:
pokemon.append(pd.Series({
    "atak": 104,
    "savunma": 78,
    "tür": "ateş",
    "hız": 100,
    "boy": 1.7
}, name="Charizard")) # Yeni bir veri ekleme

<ipython-input-88-eaddc6b45a9c>:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pokemon.append(pd.Series({

            atak  savunma  hız       tür  boy
Bulbasaur     49       49   45        ot  NaN
Charmander    52       43   65      ateş  NaN
Squirtle      48       65   43        su  NaN
Pikachu       55       40   90  elektrik  NaN
Onix          45      160   70      kaya  NaN
Charizard    104       78  100      ateş  1.7

In [92]:
pokemon["toplam güç"] = pokemon["atak"] + pokemon["savunma"] + pokemon["hız"] # Yeni bir sütün oluşturma

In [93]:
pokemon

            atak  savunma  hız       tür  boy  toplam güç
Bulbasaur     49       49   45        ot  0.7         143
Charmander    52       43   65      ateş  0.6         160
Squirtle      48       65   43        su  0.5         156
Pikachu       55       40   90  elektrik  0.4         185
Onix          45      160   70      kaya  8.8         275

In [94]:
pokemon["Saldırganlık"] = pokemon["savunma"] / pokemon["atak"]

In [95]:
pokemon

            atak  savunma  hız       tür  boy  toplam güç  Saldırganlık
Bulbasaur     49       49   45        ot  0.7         143      1.000000
Charmander    52       43   65      ateş  0.6         160      0.826923
Squirtle      48       65   43        su  0.5         156      1.354167
Pikachu       55       40   90  elektrik  0.4         185      0.727273
Onix          45      160   70      kaya  8.8         275      3.555556

In [97]:
df = pd.read_csv("btc-market-price.csv")

<class 'FileNotFoundError'>: [Errno 44] No such file or directory: 'btc-market-price.csv'